*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
@mixin double-underline {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: .8vw;
    left: 46%;
    right: 46%;
    height: 0.15vw;
    background-color: $secondary-color;
  }

  &:before {
    content: "";
    position: absolute;
    bottom: 1.2vw;
    left: 44%;
    right: 44%;
    height: .15vw;
    background-color: $secondary-color;
  }
}

$primary-color: #0B0A0A;
$secondary-color: #FBD214;
$color-blue: #022144;
$color-white: rgb(226, 226, 226);

.site-container{
  position: absolute;
  width: 100%;
}

a{
  text-decoration: none;
}
li{
  list-style: none;
}

#f-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $primary-color;
  color: white;
  padding: 0 4vw;
  .h-img{
    img{
      width: 15vw !important;
      height: 15vw !important;      
    }
  }
  .h-list{
    nav{
      ul{
        display: flex;
        font-size: 1.5vw;
        li{
          cursor: pointer;
          padding: 0 .6vw 0 .6vw;
          a{
            padding-bottom: .6vw;
            color: white;
          }
          a:hover{
            transition: .2s ease-out;
            border-bottom: 4px solid #FBD214;
          }
        }
      }
    }
  }
  .h-btn{
    button{
      background-color: $secondary-color;
      padding: 1vw 1.8vw;
      border-radius: .3vw;
      cursor: pointer;
      a{
        color: $color-blue;
        font-size: 1.4vw;
      }
    }
    button:hover{
      transition: .6s ease;
      background-color: $color-blue;
      a{
        color: $secondary-color;
      }
    }
  }
}

#mainSection{
  background-color: $primary-color;
  color: white;
  display: flex;  
  .m-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 4vw 4vw 6vw;
    h1{
      font-size: 3vw;
      padding-bottom: 2.5vw;
      span{
        color: $secondary-color;
      }
    }
    p{
      font-weight: 600;
      line-height: 2vw;
      padding-bottom: 2.5vw;
    }
    button{
      align-self: center;
      background-color: $secondary-color;
      width: 40%;
      height: 3.5vw;
      border-radius: .3vw;
      cursor: pointer;
      a{
        color: $color-blue;
        font-size: 1.4vw;
      }
    }
    button:hover{
      transition: .6s ease;
      background-color: $color-blue;
      a{
        color: $secondary-color;
      }
    }
  }
  .img-main{
    width: 50%;
    display: flex;
    justify-content: center;
  }
}

#aboutMeSection{
  display: flex;
  padding: 4vw;
  .a-img-cont{
    display: flex;
    justify-content: center;
    width: 50%;
    .img-marco{
      display: flex; 
      justify-content: center;
      padding: 2vw;
      width: 75%;
      height: 100%;
      border: 1px solid $primary-color;
      border-left: 4vw solid $primary-color;
      background-color: $color-white;
      img{
        background-color: $primary-color;
        border: 1px solid $primary-color;
      }
    }
  }
  .a-text{
    width: 50%;
    h1{
      color: $color-blue;
      font-size: 3vw;
      padding-bottom: 2.5vw;
    }
    h3{
      font-size: 1.4vw;
      font-weight: 600;
      line-height: 1.7vw;
    }
    h4{
      font-size: 1.4vw;
      font-weight: 600;
      line-height: 1.7vw;
      padding-bottom: 2.5vw;
    }
    p{
      line-height: 1.7vw;
      padding: .5vw 0;
    }
    .a-btn{
      display: flex;
      justify-content: flex-start;
      padding: 2vw 0;
      button{
        margin-right: 2vw;
        border: none;
        background-color: $secondary-color;
        width: 25%;
        height: 3.8vw;
        border-radius: .3vw;
        cursor: pointer;
        a{
          color: rgb(255, 255, 255);
          font-size: 1.2vw;
        }
      }
      .btn-hire:hover{
        transition: 1s ease;
        background-color: $color-blue;
        a{
          color: $secondary-color;
        }
      }
      .btn-cv{
        background-color: $color-blue;
      }
      .btn-cv:hover{
        transition: 1s ease;
        background-color: $primary-color;
      }
    }
  }
}

#skillsSection{
  .s-title{    
    h1{
      @include double-underline;
      color: $color-blue;
      font-size: 3vw;
      padding-bottom: 2vw;
      text-align: center;
    }
  }
  .s-p{
    text-align: center;
    padding: 1.5vw 0;
  }
  #mySkillsSection{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1vw;
      grid-row-gap: 1vw;
      padding: 4vw;
      justify-items: flex-start;
      .skills-bars{
        width: 100%;
        .s-p-container{
          p{
            color: $color-blue;
            font-size: 1.4vw;
          }
        }
        .skill-bar{
          width: 100%;
          height: 1.7vw;
          background-color: rgb(218, 218, 218);
          overflow: hidden;
          border-radius: .1vw;
          .bar-fill{
            height: 100%;
            background-color: $secondary-color;
          }
        }
      }
  }
}

#certificateSection{
  .c-title{
    h1{
      @include double-underline;
      color: $color-blue;
      font-size: 3vw;
      padding-bottom: 2vw;
      text-align: center;
    }
  }
  .c-p{
    text-align: center;
    padding: 1.5vw 0;
  }
}

#portfolioSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  .port-title{
    h2{
      @include double-underline;
      color: $color-blue;
      font-size: 3vw;
      padding-bottom: 2vw;
      text-align: center;
    }
    p{
      text-align: center;
      padding: 1.5vw 0;
    }
  }
  .port-items{
    padding: 4vw;
    width: 50%;
    display: flex;
    justify-content: center;
    #port-item{
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.1vw;
      .c-img-container{
        border: 2px solid $color-blue;
        a{
          cursor: pointer;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

#contactSection{
  display: flex;
  flex-direction: column;
  padding: 4vw;
  flex-wrap: wrap;
  .contact-title{
    .title{
      @include double-underline;
      color: $color-blue;
      font-size: 3vw;
      padding-bottom: 2vw;
      text-align: center;
    }
    p{
      text-align: center;
      padding: 1.5vw 0;
    }
  }
  .contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    #contact{
      display: flex;
      flex-direction: row;
      justify-content: center;
      .contact-img-info{
        display: flex;
        flex-direction: row;
        padding: .5vw;
        .icono{
          width: 3vw;
          margin-right: 1vw;
        }
        .info{
          h4{
            color: $primary-color;
          }
          a{
            color: $color-blue;
          }
        }
      }
    }
  }
}

#m-footer{
  display: flex;
  justify-content: space-between;
  background-color: $color-blue;
  border-top: 2px solid $primary-color;
  .f-footer{
    display: flex;
    align-items: center;
    padding: 10px;
    p{
      font-size: 1.5rem;
      border-left: 4px solid $secondary-color;
      padding: 10px;
    }
  }
  #f-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 50%;
    .foot-img-container{
      padding: 20px;
      a{
        display: flex;
        img{
          display: flex;
          width: 50px;
        }
      }
    }
  }
}

.floating-btn{
  position: fixed;
  font-weight: bold;
  bottom: 50%;
  right: 2%;
  background-color: $secondary-color;
  color: $color-white;
  padding: 35px 20px;
  border-radius: 50%;
  border: 1px solid $secondary-color;
  cursor: pointer;
  display: none;
}

#btn-leng-mode{
  display: flex;
  justify-content: flex-end;
  background-color: $primary-color;
  padding: 1vw 4vw 0 4vw;
  .leng{
    background-color: $secondary-color;
    color: $color-blue;
    padding: 1vw 1.8vw;
    border-radius: .3vw;
    cursor: pointer;
  }
  button:hover{
    transition: .6s ease;
    background-color: $color-blue;
    color: $secondary-color;
  }
}

@media screen and (max-width: 850px) {
  #mainSection{ 
    .m-text{
      h1{
        font-size: 3.2vw;
        padding-bottom: 3vw;
      }
      p{
        font-weight: 400;
        line-height: 3vw;
        padding-bottom: 3vw;
      }
      button{
        height: 5vw;
        border-radius: .7vw;
        a{
          font-size: 2vw;
        }
      }
    }
  }
  #aboutMeSection{
    .a-img-cont{
      align-items: center;
      .img-marco{
        width: 90%;
        height: 80%;
        img{
          width: 95%;
        }
      }
    }
    .a-text{
      width: 50%;
      h1{
        font-size: 4vw;
        padding-bottom: 3vw;
      }
      h3{
        font-size: 3vw;
        font-weight: 600;
        line-height: 3.5vw;
      }
      h4{
        font-size: 2.5vw;
        font-weight: 600;
        line-height: 3.5vw;
        padding-bottom: 3vw;
      }
      p{
        line-height: 3vw;
        padding: .5vw 0;
      }
      .a-btn{
        button{
          width: 40%;
          height: 5vw;
          border-radius: .5vw;
          a{
            font-size: 2vw;
          }
        }
      }
    }
  }
  #skillsSection{
    .s-title{    
      h1{
        font-size: 4.5vw;
        padding-bottom: 3vw;
      }
    }
    .s-p{
      padding: 2vw 0;
    }
    #mySkillsSection{
        .skills-bars{
          .s-p-container{
            p{
              font-size: 2.5vw;
              padding: 1vw;
            }
          }
          .skill-bar{
            height: 3vw;
          }
        }
    }
  }
}
@media screen and (max-width: 500px) {
  #f-header{
    .h-list{
      nav{
        ul{
          font-size: 2.3vw;
        }
      }
    }
    .h-btn{
      button{
        a{
          font-size: 2.4vw;
        }
      }
    }
  }
  #mainSection{ 
    .m-text{
      width: 100%;
      padding-top: 10px;
      h1{
        font-size: 4vw;
        padding-bottom: 4vw;
      }
      p{
        font-weight: 400;
        line-height: 4vw;
        padding-bottom: 4vw;
      }
      button{
        height: 7vw;
        border-radius: .7vw;
        a{
          font-size: 2.2vw;
        }
      }
    }
    .img-main{
      display: none;
    }
  }
  #aboutMeSection{
    .a-img-cont{
      display: none;
    }
    .a-text{
      text-align: center;
      width: 100%;
      h1{
        font-size: 5vw;
        padding-bottom: 4vw;
      }
      h3{
        font-size: 4vw;
        font-weight: 600;
        line-height: 5vw;
      }
      h4{
        font-size: 3vw;
        font-weight: 600;
        line-height: 5vw;
      }
      p{
        line-height: 4.5vw;
      }
      .a-btn{
        justify-content: center;
        button{
          width: 40%;
          height: 6.5vw;
          border-radius: .5vw;
          a{
            font-size: 2.5vw;
          }
        }
      }
    }
  }
  #m-footer{
    .f-footer{
      p{
        font-size: 1rem;
        padding: 8px;
      }
    }
    #f-footer{
      .foot-img-container{
        a{
          img{
            display: flex;
            width: 35px;
          }
        }
      }
    }
  }
  #certificateSection{
    .c-title{
      h1{
        font-size: 5vw;
        padding-bottom: 3vw;
      }
    }
    .c-p{
      padding: 2vw 0;
    }
  }
  #portfolioSection{
    .port-title{
      h2{
        font-size: 5vw;
        padding-bottom: 2.5vw;
      }
      p{
        padding: 2vw 0;
      }
    }
    .port-items{
      width: 80%;
    }
  }
  #contactSection{
    .contact-title{
      .title{
        font-size: 5vw;
        padding-bottom: 4vw;
      }
      p{
        padding: 2vw 0;
      }
    }
    .contact-container{
      text-align: right;
      #contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        width: 80%;
        .contact-img-info{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: .5vw;
          .icono{
            width: 10vw;
            margin-right: 3vw;
          }
        }
      }
    }
  }
  .floating-btn{
    padding: 25px 8px;
  }
}
@media screen and (max-width: 350px) {
  #btn-leng-mode{
    .leng{
      font-size: 3vw;
      padding: .6vw 1.2vw;
    }
  }
  #f-header{
    .h-list{
      nav{
        ul{
          font-size: 2.7vw;
        }
      }
    }
    .h-btn{
      button{
        a{
          font-size: 2.7vw;
        }
      }
    }
  }
  #mainSection{ 
    .m-text{
      h1{
        font-size: 5vw;
      }
      p{
        font-weight: 300;
        line-height: 6vw;
        padding-bottom: 5vw;
      }
      button{
        height: 8vw;
        a{
          font-size: 3.2vw;
        }
      }
    }
  }
  #aboutMeSection{
    .a-text{
      h1{
        font-size: 6vw;
      }
      h3{
        font-size: 5vw;
        font-weight: 500;
        line-height: 6vw;
      }
      h4{
        font-size: 4vw;
        font-weight: 600;
        line-height: 6vw;
      }
      p{
        line-height: 5.5vw;
      }
      .a-btn{
        button{
          height: 7.7vw;
          a{
            font-size: 3vw;
          }
        }
      }
    }
  }
  #m-footer{
    .f-footer{
      p{
        font-size: 1rem;
        padding: 8px;
      }
    }
    #f-footer{
      display: flex;
      align-self: center;
      .foot-img-container{
        padding: 10px;
        a{
          img{
            width: 30px;
          }
        }
      }
    }
  }
  #skillsSection{
    .s-title{    
      h1{
        font-size: 6vw;
        padding-bottom: 4vw;
      }
    }
    #mySkillsSection{
        .skills-bars{
          .s-p-container{
            p{
              font-size: 4vw;
              padding: 1.5vw;
            }
          }
          .skill-bar{
            height: 3.5vw;
          }
        }
    }
  }
  #contactSection{
    .contact-title{
      .title{
        font-size: 5vw;
        padding-bottom: 4vw;
      }
      p{
        padding: 2vw 0;
      }
    }
    .contact-container{
      text-align: center;
      width: 100%;
      #contact{
        width: 80%;
        .contact-img-info{
          display: flex;
          justify-content: center;
          .icono{
            display: none;
          }
        }
      }
    }
  }
  .floating-btn{
    font-size: 4vw;
    font-weight: normal;
    padding: 13px 5px;
  }
}
@media screen and (max-width: 250px) {
  #m-footer{
    .f-footer{
      width: 100%;
      p{
        text-align: center;
        padding: 8px;
        border-right: 4px solid $secondary-color;
      }
    }
    #f-footer{
      display: none;
    }
  }
}

// TEST SLIDER ------------
.sliderTest{
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 100%;
  width: 90%;
  .slider {
    position: relative;
    display: flex;
    width: 100%;
    height: 70%;
    overflow: hidden;
    margin: 0 auto;
    .slides {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      transition: transform 0.5s ease-in-out;
      transform: translateX(10vw);
      .slide {
        position: relative;
        display: flex;
        align-items: center;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
        .slide-img {
          border: 2px solid $color-blue;
          margin: 1rem;
          width: 20vw;
          height: 90%;
        }
        .ing-img{
          border: none;
          width: 15vw;
          border-radius: 50%;
        }
      }
    }
  }
    .prev,
    .next,
    .prev2,
    .next2 {
      margin: 0 2rem;
      top: 50%;
      background-color: $color-blue;
      padding: 1rem;
      border-radius: 50%;
      color: white;
      font-size: 24px;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
      z-index: 1;
      opacity: 0.5;
    }
    .prev:hover,
    .next:hover, 
    .prev2:hover,
    .next2:hover {
    opacity: 1;
    }
}